@charset "utf-8";

.row { max-width: 1170px; margin: 0 auto; padding: 0 10px; }
a { text-decoration: none; }

/* header */
#header {  border-bottom: 1px solid rgba(255,255,255,0.25);
    z-index: 9999999;
    position: fixed; top: 0; left: 0; width: 100%;
    transition: all 0.2s;}
#header > div.inner { 
    position: relative;  height: 90px;
}
#header h1 { width: 200px; padding: 30px 20px; }
#header .open { display: none; }
#header .close { display: none; }
#header #nav { position: absolute; top: 50%; right: 20%;
    transform: translateY(-50%); width: 60%;
    font-size: 18px; color: #fff;
}
#header #nav .depth1 > li { float: left; position: relative; width:20%; text-align: center; }
#header #nav .depth1 > li > a { display: block; 
    padding: 34px 40px; }
#header #nav .depth1 > li:hover > a { color: burlywood; }
#header .depth2 { position: absolute; top: 100%; left: 0;
    width: 100%; 
    color: #fff; background: #555;
    text-align: center; 
    font-size: 14px;
    display: none; 
}
#header .depth2 li a { 
    padding: 18px 0;
    transition: all 0.5s;
}
#header .depth2 li {
    width: 100%; 
    color: #fff; background: #555;
    border-bottom: 1px solid #666;
    text-align: center;
    font-size: 14px; 
}
#header #nav .depth2 > li:hover > a { display: block; background: burlywood; 
    color: #fff; }

#header #nav .depth2 li a { display: block;
    border-bottom: 1px solid #999; 
}

#header .depth2 li:last-child a { border-bottom: none; }
#header .depth2 li:hover a { background: #000; color: #fff; }


#header .loginbox { font-size: 17px; color: #fff; 
    margin-right: 25px;
     right: 0;
    position: absolute;
    top: 50%;transform: translateY(-50%);
    z-index: 999999999;
}
#header .loginbox li { display: inline-block; 
 
}


#nav .title { color: #fff; }
#nav .title span { font-size: 20px; }

#section .article1 img { width: 100%; 
    display: block;
}




/* footer */

/* intro 애니메이션 스타일 */
/* .introAni { position: fixed; top: 0; left: 0; bottom: 0; width: 100%; 
    background: #000; color: #fff;
    font-size: 50px; text-align: center; z-index: 9999999;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
} */