@charset "utf-8";

/* #section .article1 구역 */
#section .slide { background-size: cover; }
#section .article1 .slide_text {
    position: absolute; top: 50%;
    transform: translateY(-50%);
    color: #fff; text-align: left;
    width: 100%; padding-bottom: 85px;
}
#section .article1 .slide_text span { font-size: 40px; }
#section .article1 .slide_text h2 { font-size: 40px; 
    font-weight: 800; line-height: 60px;
}
#section .article1 .slide_text p { font-size: 18px; 
    line-height: 30px; 
    padding-top: 30px; padding-bottom: 20px; }