@charset "utf-8";

/* #section .article1 구역 */
#section .slide { background-size: cover; }
#section .slide1 { background-image: url(../img/main_hero_img1.jpg); }
#section .slide2 { background-image: url(../img/main_hero_img2.jpg); }
#section .slide3 { background-image: url(../img/main_hero_img3.jpg); }
#section .article1 .slide_text {
    position: absolute; top: 50%;
    transform: translateY(-50%);
    color: #fff; text-align: left;
    width: 100%; padding-bottom: 900px;
}
#section .article1 .slide_text span { font-size: 40px; }
#section .article1 .slide_text h2 { font-size: 40px; 
    font-weight: 800; line-height: 60px;
}
#section .article1 .slide_text p { font-size: 18px; 
    line-height: 30px; 
    padding-top: 30px; padding-bottom: 20px; }
.article1 .slick-arrow {
    position: absolute; top: 50%; transform: translateY(-50%);
    font-size: 70px; color: #fff; border: none;
}
.article1 .slick-prev { left: 50px; z-index: 9999; }
.article1 .slick-next { right: 50px; }
.article1 .slick-dots { position: absolute; bottom: 30px;
    width: 100%; text-align: center;
}
.article1 .slick-dots li { display: inline-block; margin: 0 5px;
    width: 94px; height: 2px; background: rgba(0,0,0,1);
    position: relative;
}
.article1 .slick-dots li button { border: none; 
    display: none;
    width: 0px; height: 2px; background: #fff;
    position: absolute; top: 0; left: 0;
    text-indent: -9999px; overflow: hidden;
}
.article1 .slick-dots li.slick-active button {
    animation: ani 3s both;
}

@keyframes ani {
    0% { width: 0px; }
    100% { width: 94px; }
}


/* section의 article2 구역 */
.article2 { padding: 10px 0; }
.article2 .row { position: relative; }
.article2 h2 { font-size: 36px;
    line-height: 42px; font-weight: 700;
    padding: 80px 0 10px; text-align: center; 
}
.article2 p { font-size: 18px; 
    line-height: 30px; 
    padding-top: 10px; padding-bottom: 30px; 
    text-align: center; }
.article2 ul li { height: 300px;
    float: left; width: 20%;
    margin-right: 1.3333%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.article2 ul li .imgbox { display: block; }
.article2 li:hover::before { opacity: 1; }
.article2 li:nth-child(1) { background-image: url(../img/main_about_img1.jpg); }
.article2 li:nth-child(2) { background-image: url(../img/main_about_img2.jpg); }
.article2 li:nth-child(3) { background-image: url(../img/main_about_img3.jpg); }
.article2 li:nth-child(4) { background-image: url(../img/main_about_img4.jpg); }
.article2 ul li > div:nth-child(2) { background: #fff; padding: 20px; }

/* section의 article3 구역 */
.article3 { height: 375px;
    background: url(../img/main_parallax_bg.jpg) no-repeat center;
    background-size: cover;
}
.article3 .row { position: relative; height: 100%; }
.article3 .text {
    position: absolute; top: 50%; transform: translateY(-50%);
    left: 0; width: 100%; text-align: center;
    color: #fff;
}
.article3 .text h2 { font-size: 40px; }
.article3 .text p { font-size: 13px; margin: 20px 0 13px; line-height: 1.5; }